.forecast-container {
    margin-top: 20px;
  }
  
  .forecast-cards {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
  }
  
  .card {
    background-color: lightblue;
    border-radius: 8px;
    padding: 12px;
    width: 120px;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  }
  .temperature {
    font-size: 24px;
    font-weight: bold;
  }