<div class="container">
  <h2>Forecast</h2>

  <p>
    <select [(ngModel)]="city" (change)="getForecast()">
      <option *ngFor="let c of availableCities" [value]="c">
        {{ c }}
      </option>
    </select>
  </p>

  <p>
    <select [(ngModel)]="selectedDay" (change)="filterForecastByDay()">
      <option *ngFor="let d of availableDays" [value]="d">
        {{ d }}
      </option>
    </select>  
  </p>

  <section class="day-details" *ngIf="filteredForecast">
    <h3>Forecast for {{ city }} on {{ filteredForecast.day }}</h3>
    <p>Average Condition: {{ filteredForecast.condition }}</p>
    <p>Humidity High: {{ filteredForecast.humidity }}%</p>
    <p>Wind High: {{ filteredForecast.windSpeed }} km/h</p>

    <div class="hourly-forecast">
      <h4>Hourly Forecast</h4>
      <div *ngFor="let hr of filteredForecast.hourly">
        <p>{{ hr.time }} - {{ hr.temp }}°C, {{ hr.condition }}</p>
        <p>Wind: {{ hr.windSpeed }} km/h, Direction: {{ hr.windDirection }}</p>
        <p>-------------------</p>
      </div>
    </div>
  </section>
</div>
