<!-- <nav class="nav-bar">
  <a routerLink="" routerLinkActive="active-link">Home</a>
  <a routerLink="/contact" routerLinkActive="active-link">Contact / FAQ</a>
  <a routerLink="/signup" routerLinkActive="active-link">Sign Up</a>
  <a routerLink="/login" routerLinkActive="active-link">Login</a>

</nav> -->
<nav class="nav-bar">
  <div class="nav-left">
    <a routerLink="/" routerLinkActive="active-link">Home</a>
    <a routerLink="/contact" routerLinkActive="active-link">Contact / FAQ</a>
  </div>
  <div class="nav-right">
    <a routerLink="/login" routerLinkActive="active-link">Login</a>
    <a routerLink="/signup" routerLinkActive="active-link">Sign Up</a>
  </div>
</nav>

<router-outlet></router-outlet>